*{
    background: rgb(194, 139, 148);
    box-sizing: border-box;
    margin: 0px;
}
html{
    width: 1280px;
    height: 720px;
}
.center{
   text-align: center; 
   color: white;
   height: 100px;
   padding-top: 20px;
}
.mops{
border: 1px solid black;
background: white;
text-align: left;
width: 320px;
height: 450px;
margin: 20px;
padding: 15px;
display: inline-block;
vertical-align: middle;
}
h2{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    background: white;
    margin: 40px;
}
.text{
    background: white;
}
hr{
    border: 5px solid black;
}
.block{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
